<div id="ajax">
    {{#each comment}}
        <div class="commented-section mt-2">
            <div class="d-flex flex-row align-items-center commented-user">
                <h5 class="mr-2">{{this.firstname}} {{this.lastname}}</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">{{this.date}}</span>
            </div>
            <div class="comment-text-sm"><span>{{this.content}}</span></div>
        </div>
    {{/each}}
</div>