<main>
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Register</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center border-light">
        <div class="col-xl-7 col-lg-8 col-md-10 border-light " style="width: fit-content;height: fit-content;">
    <form action="/register" method="post">
        <div class="card justify-content-center" style="width: 500px;height: fit-content">
            <div class="input-group">
                <span class="input-group-text" style="width: 100px; text-align: center;" >Name</span>
                <input type="text" aria-label="First name" class="form-control" placeholder="Enter Name">
            </div>
            <div class="input-group">
                <span class="input-group-text" style="width: 100px; text-align: center">Email</span>
                <input type="password" aria-label="First name" class="form-control" placeholder="Enter Password">
            </div>
            <div class="input-group">
                <span class="input-group-text" style="width: 100px; text-align: center">Password</span>
                <input type="password" aria-label="First name" class="form-control" placeholder="Enter Password">
            </div>
        <button  class="btn btn-outline-primary" type="submit">Register</button>
        </div>
    </form>
    <a href="/login" style="color: #0b0b0b"><u>Login</u></a>
    </div>
    </div>
</main>
